<div class="contacts-content container">
  <div class="contacts-content-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Контакты </a>
    </div>
    <h1>контакты</h1>
  </div>
  <div class="contacts-content-bottom">
    <div class="contacts-info">
      <div class="contacts-info-item">
        <p class="title">офис в краснодаре</p>
        <div class="info">
          <div class="address">
            350000, Россия,<br />раснодарский край, г. Краснодар, <br />ул.
            Карасунская, 66
          </div>
          <div class="info-item">
            <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
            <div class="socials">
              <a href="#" class="btn circle blue">
                <img src="@img/tg.svg" alt="tg" />
              </a>
              <a href="#" class="btn circle green">
                <img src="@img/wa.svg" alt="wa" />
              </a>
            </div>
          </div>
          <a href="mialto:info@kzpgroup.ru">info@kzpgroup.ru</a>
        </div>
      </div>
      <div class="contacts-info-item">
        <p class="title">Коммерческий отдел</p>
        <div class="info">
          <div class="info-item">
            <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
            <div class="socials">
              <a href="#" class="btn circle blue">
                <img src="@img/tg.svg" alt="tg" />
              </a>
              <a href="#" class="btn circle green">
                <img src="@img/wa.svg" alt="wa" />
              </a>
            </div>
          </div>
          <a href="mialto:info@kzpgroup.ru">info@kzpgroup.ru</a>
        </div>
      </div>
      <div class="contacts-info-item">
        <p class="title">Договорной отдел</p>
        <div class="info">
          <div class="info-item">
            <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
            <div class="socials">
              <a href="#" class="btn circle blue">
                <img src="@img/tg.svg" alt="tg" />
              </a>
              <a href="#" class="btn circle green">
                <img src="@img/wa.svg" alt="wa" />
              </a>
            </div>
          </div>
          <a href="mialto:info@kzpgroup.ru">info@kzpgroup.ru</a>
        </div>
      </div>
      <div class="contacts-info-item">
        <p class="title">Отдел логистики</p>
        <div class="info">
          <div class="info-item">
            <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
            <div class="socials">
              <a href="#" class="btn circle blue">
                <img src="@img/tg.svg" alt="tg" />
              </a>
              <a href="#" class="btn circle green">
                <img src="@img/wa.svg" alt="wa" />
              </a>
            </div>
          </div>
          <a href="mialto:info@kzpgroup.ru">info@kzpgroup.ru</a>
        </div>
      </div>
    </div>
    <div class="map-wrapper">
      <div class="map" data-center="45.02862907457783 38.96926749999988"></div>
    </div>
  </div>
</div>
