<div class="news-item-content container">
  <div class="text-block">
    <div class="text-wrapper">
      <div class="text">
        <p>
          В 2022 году в России собран рекордный урожай зерна — 150 млн тонн. По
          данным Росстата, рекордным был и сбор масличных культур — 25,65 млн
          тонн подсолнечника, сои и рапса вместе. Показатели 2023 года чуть ниже
          — 142,6 млн тонн зерновых, из них 92,8 млн тонн пшеницы. Подсолнечника
          на зерно собрали 16,7 млн тонн, сои — 6,7 млн тонн.
        </p>
        <p>
          По предварительному прогнозу ИКАР (Институт конъюнктуры аграрного
          рынка), в 2024 году, возможно, удастся побить рекорд 2022 года.
          Минимальная оценка валового сбора зерна — 137 млн тонн, максимальная —
          151 млн тонн. Интересно, что экспортный потенциал ИКАР на 2023–2024
          гг. оценивает в 67 млн тонн, если данные подтвердятся, это будет
          абсолютный рекорд для России.
        </p>
      </div>
    </div>
    <div class="text-wrapper">
      <h2>Поиск более маржинальных культур для выращивания</h2>
      <div class="text">
        <p>
          Пока самыми рентабельными остаются масличные культуры. Но введение
          нулевой квоты на импорт семян сои снизит ее выгодность для аграриев.
          И, возможно, приведет к изменениям на внутреннем рынке России.
        </p>
        <p>
          В целом, сейчас ситуация такая, что каждый фермер и АПК сам выбирает,
          сокращать ли посевы зерновых и какие культуры включать в севооборот.
          Большие урожаи зерна практически выбивают с рынка малые хозяйства: им
          сложно находить места для хранения продукции, нужно быстрее найти
          рынок сбыта. А следовательно, продавать дешевле.
        </p>
        <p>
          Из-за непредсказуемости мирового рынка сложно спрогнозировать спрос на
          нишевые культуры. Поэтому их доля в общей площади посевов вряд ли
          будет существенной, останется на экспериментальном уровне.
        </p>
      </div>
    </div>
    <div class="text-wrapper">
      <h2>культуры для выращивания</h2>
      <ul>
        <li>
          Планируется, что квотирование снизит конкуренцию на рынке средств
          защиты растений.
        </li>
        <li>
          В правительстве РФ пересмотрели идею и вынесли на рассмотрение проект
          ограничения ввоза пестицидов на всей территории ЕАЭС.
        </li>
        <li>Планируется, что квотирование снизит конкуренцию на рынке.</li>
      </ul>
      <div class="text">
        <p>
          В целом, сейчас ситуация такая, что каждый фермер и АПК сам выбирает,
          сокращать ли посевы зерновых и какие культуры включать в севооборот.
          Большие урожаи зерна практически выбивают с рынка малые хозяйства: им
          сложно находить места для хранения продукции, нужно быстрее найти
          рынок сбыта. А следовательно, продавать дешевле.
        </p>
      </div>
    </div>
    <div class="text-wrapper">
      <h3>маркированный список</h3>
      <ul>
        <li>
          Планируется, что квотирование снизит конкуренцию на рынке средств
          защиты растений.
        </li>
        <li>
          В правительстве РФ пересмотрели идею и вынесли на рассмотрение проект
          ограничения ввоза пестицидов на всей территории ЕАЭС.
        </li>
        <li>Планируется, что квотирование снизит конкуренцию на рынке.</li>
      </ul>
    </div>
    <div class="text-wrapper">
      <h3>нумерованный список</h3>
      <ol>
        <li>
          Планируется, что квотирование снизит конкуренцию на рынке средств
          защиты растений.
        </li>
        <li>
          В правительстве РФ пересмотрели идею и вынесли на рассмотрение проект
          ограничения ввоза пестицидов на всей территории ЕАЭС.
        </li>
        <li value="10">
          Планируется, что квотирование снизит конкуренцию на рынке.
          <ol>
            <li>Планируется, что квотирование снизит конкуренцию на рынке.</li>
            <li>В правительстве РФ пересмотрели идею</li>
            <li>Планируется, что квотирование снизит конкуренцию на рынке.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="image-block">
    <div class="sticky-block">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span>05 декабря 2024</span>
        <a href="#" class="btn link">
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="28" height="28" rx="14" fill="#6E6E6E" />
            <path d="M12 9L18 13.875L12 18.75" stroke="white" />
          </svg>
          назад к списку
        </a>
      </div>
    </div>
  </div>
</div>
