<div class="news-item-another container">
  <div class="news-item-another-inner">
    <div class="news-item-another-top">
      <h3>другие статьи</h3>
    </div>
    <div class="news-swiper-wrapper">
      <div class="news-swiper">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide news-item">
            <div class="image-wrapper">
              <img src="@img/home/news/1.jpg" alt="news" />
            </div>
            <div class="text">
              <span class="date">05 декабря 2024</span>
              <p class="title">
                специализируемся на работе с такими продуктами, как пшеница,
                ячмень, кукуруза, лен, кукуруза, нут, горох и другие.
              </p>
            </div>
          </a>
          <a href="#" class="swiper-slide news-item">
            <div class="image-wrapper">
              <img src="@img/home/news/2.jpg" alt="news" />
            </div>
            <div class="text">
              <span class="date">05 декабря 2024</span>
              <p class="title">Честное сотрудничество и высокие стандарты.</p>
            </div>
          </a>
          <a href="#" class="swiper-slide news-item">
            <div class="image-wrapper">
              <img src="@img/home/news/1.jpg" alt="news" />
            </div>
            <div class="text">
              <span class="date">05 декабря 2024</span>
              <p class="title">
                специализируемся на работе с такими продуктами, как пшеница,
                ячмень, кукуруза, лен, кукуруза, нут, горох и другие.
              </p>
            </div>
          </a>
          <a href="#" class="swiper-slide news-item">
            <div class="image-wrapper">
              <img src="@img/home/news/2.jpg" alt="news" />
            </div>
            <div class="text">
              <span class="date">05 декабря 2024</span>
              <p class="title">Честное сотрудничество и высокие стандарты.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="navigation">
        <button class="btn circle accent news-prev">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M7 1L1 5.875L7 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
        <button class="btn circle accent news-next">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L7 5.875L1 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
