<div class="news-item-hero container">
  <div class="breadcrumbs black">
    <a href="home.html">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
          stroke="white"
        />
      </svg>
    </a>
    <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
    <a href="news.html"> Пресс-центр </a>
    <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
    <a href="news.html"> Честное сотрудничество и высокие стандарты </a>
  </div>
  <h1>Честное сотрудничество и высокие стандарты.</h1>
</div>
