<div class="about-mission container">
  <div class="about-mission-inner text-about">
    <div class="text-about-item text-left">
      <div class="text-block">
        <span>Миссия</span>
        <div class="text-wrapper">
          <p class="title">
            Поставлять потребителям качественную продукцию по доступной цене,
            способствуя развитию продовольственного рынка России и укреплению
            национальной продовольственной безопасности.
          </p>
        </div>
      </div>
      <div class="image-block">
        <img src="@img/about/mission.jpg" alt="mission" class="image" />
        <img src="@img/shapes.svg" alt="shapes" class="shapes" />
      </div>
    </div>
    <div class="text-about-item text-right">
      <div class="text-block">
        <span>Ценности</span>
        <div class="text-wrapper">
          <p class="title size-sm">
            Нашим клиентам мы поставляем качественные товары и услуги
          </p>
          <div class="text">
            <p class="descr">
              основанные на многолетнем опыте работы в отрасли и использовании
              передовых технологий. Нас ценят как надежного поставщика. А мы
              ценим доверие, которое из года в год оказывают нам клиенты и
              партнеры.
            </p>
          </div>
        </div>
        <div class="text-wrapper">
          <p class="title size-sm">
            Нашим сотрудникам мы гарантируем достойный уровень вознаграждения и
            возможность профессиональной самореализации.
          </p>
          <div class="text">
            <p class="descr">
              Нашим сотрудникам мы гарантируем достойный уровень вознаграждения
              и возможность профессиональной самореализации. Мы поощряем их
              творческий подход к работе и выделяем тех, кто в интересах дела
              имеет смелость действовать неординарно.
            </p>
          </div>
        </div>
      </div>
      <div class="image-block">
        <img src="@img/about/mission.jpg" alt="mission" class="image" />
        <img src="@img/shapes.svg" alt="shapes" class="shapes" />
      </div>
    </div>
  </div>
</div>
