<div class="about-socials container">
  <h3>Социальная ответственность</h3>
  <div class="advantage-list">
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/about/socials/1.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">ответственность</div>
        <p class="descr">
          Краснодарзернопродукт понимает свою ответственность перед обществом, в
          котором ведет свою деятельность.
        </p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/about/socials/2.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">поддержка</div>
        <p class="descr">
          Мы уделяем особое внимание поддержке сотрудников и пенсионеров
        </p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/about/socials/4.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">забота</div>
        <p class="descr">
          Заботимся об окружающей среде, включая ответственное использование
          земельных ресурсов.
        </p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/about/socials/3.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">развитие</div>
        <p class="descr">Участвуем в развитии местных сообществ</p>
      </div>
    </div>
  </div>
</div>
