<div class="about-direction container">
  <div class="about-direction-inner">
    <div class="direction-item">
      <div class="text">
        <p class="title">Инвестиции в благоустройство сельских поселений</p>
        <p class="descr">
          Компания регулярно инвестирует в благоустройство сельских поселений,
          где находятся её хозяйства, активно участвует в общественной жизни на
          местах и поддерживает будущие кадры, предоставляя профессиональную
          помощь лучшим студентам аграрных вузов юга России.
        </p>
      </div>
      <div class="image-wrapper">
        <img src="@img/about/mission.jpg" alt="direction" />
      </div>
    </div>
    <div class="direction-item">
      <div class="text">
        <p class="title">развитие сельских территорий</p>
        <p class="descr">
          КЗП уделяет особое внимание селу, откуда компания берет свое начало и
          черпает силы для своего бизнеса. В компании поощряется уважительное
          отношение к крестьянскому труду, а развитие сельских территорий
          считается одной из приоритетных задач.
        </p>
      </div>
      <div class="image-wrapper">
        <img src="@img/about/mission.jpg" alt="direction" />
      </div>
    </div>
  </div>
</div>
