<div class="about-info">
  <div class="about-info-inner container">
    <div class="text-block">
      <p class="hide-text">
        Мы производим зерновые и масличные культуры, осуществляем их хранение,
        переработку, логистические и торговые операции, в том числе экспортные
      </p>
      <p class="title">
        Мы поступательно добиваемся признания на мировом рынке, на равных
        конкурируя с ведущими поставщиками российских зерновых за рубеж.
      </p>
      <p class="descr">
        Успехи на международных рынках повышают статус нашей компании в отрасли,
        одновременно способствуя возрождению репутации России как мирового
        экспортера сельхозпродукции.
      </p>
    </div>
    <div class="image-block">
      <img src="@img/about/info.png" alt="info" />
    </div>
  </div>
</div>
