<div class="about-advantages advantage-list container">
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/about/advantages/1.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">более 20 лет</div>
      <p class="descr">На аграрном рынке РФ</p>
    </div>
  </div>
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/about/advantages/2.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">35 млрд. руб.</div>
      <p class="descr">Консолидированная выручка в год</p>
    </div>
  </div>
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/about/advantages/3.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">более 2 000</div>
      <p class="descr">Сотрудников работает в КЗП на текущий момент</p>
    </div>
  </div>
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/about/advantages/4.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">4%</div>
      <p class="descr">
        Доля на международном рынке торговли зерном российского происхождения
      </p>
    </div>
  </div>
</div>
