.documents-item {
  display: flex;
  gap: 20px;
  &:last-child {
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 24px;
  }
  & > img {
    width: 32px;
    height: 40px;
  }
  .documents-item-content {
    width: 100%;

    .documents-item-content-top {
      .title {
        @include body-m;
      }
    }
    .documents-item-content-input-wrapper {
      margin-top: 10px;
      border: 2px dashed var(--accent-2-color);
      border-radius: 12px;
      padding: 19px 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      @media (max-width: $tab-sm) {
        flex-direction: column;
        gap: 10px;
        margin-top: 16px;
        padding: 16px;
        align-items: flex-start;
      }
      input {
        display: none;
      }
      .clip {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 16px;
          height: 16px;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 128%;
          color: var(--accent-2-color);
        }
      }
      .condition-wrapper {
        display: flex;
        align-items: center;
        gap: 36px;
        @media (max-width: $tab) {
          flex-direction: column;
          gap: 15px;
          align-items: flex-start;
        }
        .checkbox-wrapper {
          display: flex;
          align-items: center;
          gap: 12px;
          p {
            @include body-s;
          }
        }
      }
      .condition {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: var(--gray-2-color);
      }
    }
    .documents-item-content-uploaded {
      margin-top: 10px;
      border: 2px dashed var(--green-color);
      border-radius: 12px;
      padding: 19px 17px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      @media (max-width: $tab-sm) {
        flex-direction: column;
        gap: 10px;
        margin-top: 16px;
        padding: 16px;
        align-items: flex-start;
      }
      .documents-file-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .file {
          display: flex;
          align-items: center;
          gap: 15px;
          img {
            width: 16px;
            height: 16px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 128%;
          }
        }
      }
      .edit-btn {
        width: 20px;
        height: 20px;
      }
    }
  }
}
