.greeting-modal {
  .greeting-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 660px;
  }

  .title {
    text-transform: uppercase;
    @include h2;
    text-align: center;
  }
  .descr {
    margin-top: 16px;
    @include body-m;
    margin-bottom: 24px;
    text-align: center;
  }

  .btn {
    margin-top: 12px;
  }
}
