.news-item {
  position: relative;
  display: block;
  &:hover {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.9) 0%,
      rgba(44, 44, 44, 0) 100%
    );
    height: 50%;
    z-index: 2;
    transition: var(--trs-300);
    @media (max-width: $tab-sm) {
      display: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 102, 0, 0.9) 0%,
      rgba(255, 102, 0, 0) 100%
    );
    height: 50%;
    z-index: 2;
    transition: var(--trs-300);
    opacity: 0;
    @media (max-width: $tab-sm) {
      display: none;
    }
  }
  .image-wrapper {
    position: relative;
    padding-bottom: 75%;
    @media (max-width: $tab-sm) {
      padding-bottom: 66%;
    }
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text {
    position: absolute;
    bottom: 48px;
    right: 48px;
    left: 48px;
    z-index: 3;
    @media (max-width: $tab-sm) {
      margin-top: 28px;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .date {
      color: var(--white-color);
      @include descr-s;
      text-transform: uppercase;
      @media (max-width: $tab-sm) {
        color: var(--dark-color);
      }
    }
    .title {
      color: var(--white-color);
      @include h5;
      text-transform: uppercase;
      margin-top: 20px;
      @media (max-width: $tab-sm) {
        color: var(--dark-color);
      }
    }
  }
}
