.recover-password-modal {
  .title {
    text-transform: uppercase;
    @include h2;
  }
  .descr {
    margin-top: 24px;
    @include body-m;
    margin-bottom: 24px;
  }
  .btn {
    margin-top: 24px;
  }
}
