<div class="documents-content container">
  <div class="documents-block">
    <div class="documents-block-filters">
      <div class="filter-row">
        <div class="selector filter-selector custom-radio-selector">
          <button type="button" class="selector-btn">
            <div class="selector-title custom-radio">
              <div class="text-content">
                <input type="radio" name="type" checked />
                <div class="bg"></div>
                <p>Сельхозтоваропроизводитель</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="custom-radio">
                <input type="radio" name="type" checked />
                <div class="bg"></div>
                <p>Сельхозтоваропроизводитель</p>
              </label>
              <label class="custom-radio">
                <input type="radio" name="type" />
                <div class="bg"></div>
                <p>Трейдер</p>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-row">
        <div class="selector filter-selector custom-radio-selector">
          <button type="button" class="selector-btn">
            <div class="selector-title custom-radio">
              <div class="text-content">
                <input type="radio" name="nds" checked />
                <div class="bg"></div>
                <p>с ндс</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="custom-radio">
                <input type="radio" name="nds" checked />
                <div class="bg"></div>
                <p>с ндс</p>
              </label>
              <label class="custom-radio">
                <input type="radio" name="nds" />
                <div class="bg"></div>
                <p>без ндс</p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="documents-list accordion">
      <div class="accordion-item active">
        <button class="accordion-title">
          <div class="text">
            <p class="title">подзаголовок документов</p>
          </div>

          <div class="icon-wrapper">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="27.5"
                y="0.5"
                width="27"
                height="27"
                rx="13.5"
                transform="rotate(90 27.5 0.5)"
                stroke="#3E3E3E"
                stroke-opacity="0.15"
              />
              <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <div class="document-item">
            <p class="number">1</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
          <div class="document-item">
            <p class="number">2</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Свидетельство о постановке на налоговый учет (ИНН)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">3</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Учредительный договор (ПРИ НАЛИЧИИ)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">4</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">5</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">6</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">7</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">8</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Карточка партнера с образцами подписей лиц, имеющих право
                подписи и оттиском печати
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">9</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
          <div class="document-item">
            <p class="number">10</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Устав ЮЛ действующей редакции (ВСЕ СТРАНИЦЫ)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">11</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
        </div>
      </div>
      <div class="accordion-item active">
        <button class="accordion-title">
          <div class="text">
            <p class="title">
              Документы, подтверждающие полномочия единоличного исполнительного
              органа организации
            </p>
            <p class="descr">
              решение/протокол о назначении (избрании) руководителя организации,
              приказ.
            </p>
          </div>

          <div class="icon-wrapper">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="27.5"
                y="0.5"
                width="27"
                height="27"
                rx="13.5"
                transform="rotate(90 27.5 0.5)"
                stroke="#3E3E3E"
                stroke-opacity="0.15"
              />
              <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <div class="document-item">
            <p class="number">12</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
          <div class="document-item">
            <p class="number">13</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Свидетельство о постановке на налоговый учет (ИНН)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">14</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Учредительный договор (ПРИ НАЛИЧИИ)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">15</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">16</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">17</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">18</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">19</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Карточка партнера с образцами подписей лиц, имеющих право
                подписи и оттиском печати
              </p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">20</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
          <div class="document-item">
            <p class="number">21</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>Устав ЮЛ действующей редакции (ВСЕ СТРАНИЦЫ)</p>
            </div>
          </div>
          <div class="document-item">
            <p class="number">22</p>
            <div class="document-item-content">
              <img src="@img/documents/document.svg" alt="document" />
              <p>
                Доверенность на право заключения договора (в случаях, когда
                договор заключается лицом, действующим на основании
                доверенности)
              </p>
            </div>
            <a href="./files/test.pdf" download="" class="download-btn">
              <img src="@img/download-arrow.svg" alt="download-arrow" />скачать
              шаблон
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="documents-info">
    <div class="sticky-block">
      <div class="text">
        <p class="title">Пришлите документы нам на почту</p>
        <p class="descr">
          Для сотрудничества с ООО «КЗП» просим вас предоставить информацию о
          Вашей организации, согласно следующему списку документов
        </p>
        <a href="mailto:pochta@primer.ru">
          <img src="@img/email.svg" alt="email" />pochta@primer.ru
        </a>
      </div>
      <div class="btns">
        <a href="#" class="btn secondary">
          <img src="@img/documents/print.svg" alt="" />
          распечатать список
        </a>
        <a href="#" class="btn secondary">
          <img src="@img/documents/download.svg" alt="" />
          скачать список
        </a>
      </div>
    </div>
  </div>
</div>
