<div class="recover-password-content container">
  <div class="recover-password-content-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Регистрация </a>
    </div>
    <h1>сменить пароль</h1>
  </div>
  <div class="recover-password-main-content">
    <form class="form">
      <div class="inputs">
        <div class="input-wrapper">
          <p class="hint">Пароль <br />(от 6 символов)*</p>
          <div class="input__row">
            <input
              type="password"
              class="input form__input-value"
              placeholder="Введите"
            />
            <small class="input__item-small"></small>
          </div>
        </div>
        <div class="input-wrapper">
          <p class="hint">Повторите пароль*</p>
          <div class="input__row">
            <input
              type="password"
              class="input form__input-value"
              placeholder="Введите"
            />
            <small class="input__item-small"></small>
          </div>
        </div>
      </div>
      <button class="btn secondary yellow" disabled>
        войти с новым паролем
      </button>
    </form>
    <div class="have-account-block">
      <div class="image-wrapper">
        <img src="@img/register/img.jpg" alt="recover-password" />
        <img src="@img/register/shape.svg" alt="shape" class="shape" />
      </div>
      <div class="have-account-recover-password">
        <img src="@img/register/pc.svg" alt="pc" />
        <div class="recover-password-container">
          <p>нет личного кабинета?</p>
          <a href="#" class="btn secondary yellow">зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
</div>
