<div class="accreditation-application container">
  <div class="accreditation-application-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Личный кабинет </a>
    </div>
    <h1>аккредитация</h1>
  </div>
  <div class="accreditation-application-content">
    <div class="accreditation-application-content-main">
      <div class="accreditation-application-status">
        <img src="@img/accreditation-application/mail.svg" alt="mail" />
        <div class="accreditation-application-status-content">
          <p class="title">Заявка на аккредитацию отправлена</p>
          <ul class="info">
            <li>
              <p class="label">Дата подачи заявки:</p>
              <p class="value">12.05.2025</p>
            </li>
            <li>
              <p class="label">комментарий:</p>
              <div class="value">
                Некоторые документы не читаются. Пожалуйста, загрузите следующие
                документы в лучшем качестве:
                <ul>
                  <li>Название документа, что не так</li>
                  <li>Название документа и страница</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="status-code required-modification">требуется доработка</div>
      </div>
      <div class="documents-list-wrapper">
        <div class="documents-list-top">
          <p class="title">загрузите требуемые документы</p>
          <p class="total-documents">добавлено: 0 из 2</p>
        </div>
        <div class="documents-list">
          <div class="documents-item">
            <img
              src="@img/accreditation-documents/document.svg"
              alt="document"
            />
            <div class="documents-item-content">
              <div class="documents-item-content-top">
                <p class="title">
                  Карточка партнера с образцами подписей лиц, имеющих право
                  подписи и оттиском печати
                </p>
                <button>
                  <img src="@img/accreditation-documents/icon.svg" alt="info" />
                </button>
              </div>
              <label class="documents-item-content-input-wrapper">
                <input type="file" />
                <div class="clip">
                  <img src="@img/accreditation-documents/clip.svg" alt="clip" />
                  <p>Прикрепить файл</p>
                </div>
                <p class="condition">Не более 10 мб</p>
              </label>
            </div>
          </div>
          <div class="documents-item">
            <img
              src="@img/accreditation-documents/document.svg"
              alt="document"
            />
            <div class="documents-item-content">
              <div class="documents-item-content-top">
                <p class="title">
                  Свидетельство о постановке на налоговый учет (ИНН)
                </p>
                <button>
                  <img src="@img/accreditation-documents/icon.svg" alt="info" />
                </button>
              </div>
              <label class="documents-item-content-input-wrapper">
                <input type="file" />
                <div class="clip">
                  <img src="@img/accreditation-documents/clip.svg" alt="clip" />
                  <p>Прикрепить файл</p>
                </div>
                <p class="condition">Не более 10 мб</p>
              </label>
            </div>
          </div>
        </div>
        <button class="btn secondary yellow accept-documents-btn" disabled>
          отправить на аккредитацию
        </button>
      </div>
    </div>
    <div class="menu-block">
      <div class="sticky-block">
        <nav class="menu-navigation">
          <a href="#" class="active">
            <span>1</span>
            Аккредитация
          </a>
          <a href="#">
            <span>2</span>
            Рамочный договор
          </a>
          <button class="exit-btn">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_5843_36467)">
                <path d="M9.5 17.5L0.5 17.5L0.5 0.5L9.5 0.5" stroke="#8C8C8C" />
                <path
                  d="M4.5 9H17M17 9L12.7143 14M17 9L12.7143 4"
                  stroke="#8C8C8C"
                />
              </g>
              <defs>
                <clipPath id="clip0_5843_36467">
                  <rect width="18" height="18" fill="white" />
                </clipPath>
              </defs>
            </svg>
            Выйти
          </button>
        </nav>
        <div class="menu-contacts">
          <p>
            Если остались вопросы, свяжитесь с нашим менеджером любым удобным
            способом:
          </p>
          <div class="menu-contacts-list">
            <a href="tel:+78612040272">
              <img src="@img/accreditation-documents/phone.svg" alt="phone" />+7
              (861) 204-02-72 доб. 605
            </a>
            <a href="mailto:dogovor@kzpgroup.ru">
              <img
                src="@img/accreditation-documents/mail.svg"
                alt="mail"
              />dogovor@kzpgroup.ru
            </a>
            <p>
              <img src="@img/accreditation-documents/clock.svg" alt="clock" />
              Пн-Пт c 8:30-17:30
            </p>
          </div>
          <button class="btn secondary yellow ask-btn">задать вопрос</button>
        </div>
      </div>
    </div>
  </div>
</div>
