<div class="framework-agreement-success container">
  <div class="framework-agreement-success-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Личный кабинет </a>
    </div>
    <h1>Подписание рамочного договора</h1>
  </div>
  <div class="framework-agreement-success-content">
    <div class="framework-agreement-success-content-main">
      <div class="framework-agreement-success-info">
        <img src="@img/framework-agreement-success/pc.svg" alt="pc" />
        <div class="framework-agreement-success-info-content">
          <p class="title">поздравляем!</p>
          <p>Вы успешно прошли аккредитацию и подписали рамочный договор.</p>
          <p>
            Теперь вы можете подавать заявки на поставку продукции, отслеживать
            историю поставок и получать уведомления о статусах заявок и выгодных
            предложениях.
          </p>
          <button class="btn primary yellow">в личный кабинет</button>
        </div>
      </div>
    </div>
    <div class="menu-block">
      <div class="sticky-block">
        <nav class="menu-navigation">
          <a href="#" class="success">
            <span>1</span>
            Аккредитация
          </a>
          <a href="#" class="success">
            <span>2</span>
            Рамочный договор
          </a>
          <button class="exit-btn">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_5843_36467)">
                <path d="M9.5 17.5L0.5 17.5L0.5 0.5L9.5 0.5" stroke="#8C8C8C" />
                <path
                  d="M4.5 9H17M17 9L12.7143 14M17 9L12.7143 4"
                  stroke="#8C8C8C"
                />
              </g>
              <defs>
                <clipPath id="clip0_5843_36467">
                  <rect width="18" height="18" fill="white" />
                </clipPath>
              </defs>
            </svg>
            Выйти
          </button>
        </nav>
        <div class="menu-contacts">
          <p>
            Если остались вопросы, свяжитесь с нашим менеджером любым удобным
            способом:
          </p>
          <div class="menu-contacts-list">
            <a href="tel:+78612040272">
              <img src="@img/accreditation-documents/phone.svg" alt="phone" />+7
              (861) 204-02-72 доб. 605
            </a>
            <a href="mailto:dogovor@kzpgroup.ru">
              <img
                src="@img/accreditation-documents/mail.svg"
                alt="mail"
              />dogovor@kzpgroup.ru
            </a>
            <p>
              <img src="@img/accreditation-documents/clock.svg" alt="clock" />
              Пн-Пт c 8:30-17:30
            </p>
          </div>
          <button class="btn secondary yellow ask-btn">задать вопрос</button>
        </div>
      </div>
    </div>
  </div>
</div>
