<div
  class="hero-sm container"
  style="background-image: url('./img/price/hero.jpg')"
>
  <video src="files/hero.mp4" class="hero-sm__video" muted autoplay preload="metadata" loop></video>
  <div class="breadcrumbs">
    <a href="home.html">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
          stroke="white"
        />
      </svg>
    </a>
    <img src="@img/breadcrumbs-arrow.svg" alt="arrow" />
    <a href="services.html"> Прайс-лист </a>
  </div>
  <h1>прайс-лист</h1>
</div>
