<div class="price-fix-table container">
  <div class="table-fix">
    <p class="title">Пшеница</p>
    <p class="descr">
      <img src="@img/info.svg" alt="info" />
      Цены актуальны на 21.11.24
    </p>
  </div>
  <div class="price-fix-table-swiper-wrapper">
    <div class="navigation">
      <button class="btn circle accent price-fix-prev">
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M7 1L1 5.875L7 10.75" stroke="#6E6E6E" />
        </svg>
      </button>
      <button class="btn circle accent price-fix-next">
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L7 5.875L1 10.75" stroke="#6E6E6E" />
        </svg>
      </button>
    </div>
    <div class="price-fix-table-swiper-container">
      <div class="price-fix-table-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide table-fix__item" data-bazis="0">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>
          <div class="swiper-slide table-fix__item" data-bazis="1">
            <p class="title">Ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>
          <div class="swiper-slide table-fix__item" data-bazis="2">
            <p class="title">Ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>
          <div class="swiper-slide table-fix__item" data-bazis="3">
            <p class="title">Базис</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>
          <div class="swiper-slide table-fix__item" data-bazis="0">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
