<div class="price-table mob">
  <div class="price-table-wrapper">
    <div class="table-top container">
      <p class="title">Пшеница</p>
      <p class="descr">
        <img src="@img/info.svg" alt="info" />
        Цены актуальны на 21.11.24
      </p>
    </div>
    <div class="table-list">
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-item">
        <div class="table-item__info">
          <p class="table-item__info-title">спецификация</p>
          <ul class="table-item__info-list">
            <li>
              <p>Протеин, не менее</p>
              <span>15,3%</span>
            </li>
            <li>
              <p>Урожай</p>
              <span>2024 г.</span>
            </li>

            <li>
              <p>Клейковина</p>
              <span>23%</span>
            </li>
            <li>
              <p>
                ИДК до 100 ед, <br />
                проросшие, до
              </p>
              <span>1%</span>
            </li>
            <li>
              <p>Натура, не менее</p>
              <span>770 г/л</span>
            </li>
          </ul>
          <div class="table-item__info-bottom">
            <p>базис</p>
            <p>Цена, руб./тонна</p>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="1">
          <div class="table-item__price_left">
            <p class="title">ейск</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="2">
          <div class="table-item__price_left">
            <p class="title">ростов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="3">
          <div class="table-item__price_left">
            <p class="title">Базис 4</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-item__price" data-bazis="0">
          <div class="table-item__price_left">
            <p class="title">Азов</p>
            <button class="download-ttn-btn">
              Образец ТТН <img src="@img/download.svg" alt="download" />
            </button>
          </div>

          <div class="table-item__price_right">
            <div class="price-list">
              <div class="price-item" data-nds="false">
                <p>19 100</p>
                <span>без НДС</span>
              </div>
              <div class="price-item" data-nds="true">
                <p>21 010</p>
                <span>с НДС (10%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
