<div class="price-table container">
  <div class="price-table-wrapper">
    <div class="table-fix">
      <div class="table-top">
        <p class="title">Пшеница</p>
        <p class="descr">
          <img src="@img/info.svg" alt="info" />
          Цены актуальны на 21.11.24
        </p>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>

          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>
          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>

          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>

          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>
          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
      <div class="table__item">
        <p class="title">Спецификация</p>
        <ul>
          <li>
            <p>Протеин, не менее</p>
            <span>15,3%</span>
          </li>
          <li>
            <p>Урожай</p>
            <span>2024 г.</span>
          </li>

          <li>
            <p>Клейковина</p>
            <span>23%</span>
          </li>
          <li>
            <p>
              ИДК до 100 ед, <br />
              проросшие, до
            </p>
            <span>1%</span>
          </li>
          <li>
            <p>Натура, не менее</p>
            <span>770 г/л</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="price-table-swiper-wrapper">
      <div class="navigation">
        <button class="btn circle accent price-prev">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M7 1L1 5.875L7 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
        <button class="btn circle accent price-next">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L7 5.875L1 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
      <div class="price-table-swiper-container">
        <div class="price-table-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide price-table__item" data-bazis="0">
              <div class="price-table-top">
                <p class="title">Азов</p>
                <button class="download-ttn-btn">
                  Образец ТТН <img src="@img/download.svg" alt="download" />
                </button>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide price-table__item" data-bazis="1">
              <div class="price-table-top">
                <p class="title">Ейск</p>
                <!-- <button class="download-ttn-btn">
                  Образец ТТН <img src="@img/download.svg" alt="download" />
                </button> -->
                <a href="./files/test.pdf" download="" class="download-ttn-btn">
                  Образец ТТН
                  <img src="@img/download.svg" alt="download" />
                </a>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide price-table__item" data-bazis="2">
              <div class="price-table-top">
                <p class="title">Ростов</p>
                <button class="download-ttn-btn">
                  Образец ТТН <img src="@img/download.svg" alt="download" />
                </button>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide price-table__item" data-bazis="3">
              <div class="price-table-top">
                <p class="title">базис 4</p>
                <button class="download-ttn-btn">
                  Образец ТТН <img src="@img/download.svg" alt="download" />
                </button>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide price-table__item" data-bazis="0">
              <div class="price-table-top">
                <p class="title">Азов</p>
                <button class="download-ttn-btn">
                  Образец ТТН <img src="@img/download.svg" alt="download" />
                </button>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
              <div class="price-table-row">
                <div class="title">Цена, руб./тонна</div>
                <div class="price-list">
                  <div class="price-item" data-nds="false">
                    <p>19 100</p>
                    <span>без НДС</span>
                  </div>
                  <div class="price-item" data-nds="true">
                    <p>21 010</p>
                    <span>с НДС (10%)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
