<div class="price-filters container">
  <div class="filter">
    <div class="filter-row">
      <div class="selector filter-selector custom-img-radio-selector">
        <button type="button" class="selector-btn">
          <div class="selector-title custom-img-radio">
            <div class="text-content">
              <input type="radio" name="cereal" />
              <div class="bg"></div>
              <img src="@img/price/cereal/1.jpg" alt="cereal" />
              <p>Пшеница</p>
            </div>
          </div>
          <div class="icon">
            <svg
              width="28"
              height="29"
              viewBox="0 0 28 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="27.5"
                y="0.899414"
                width="27"
                height="27"
                rx="13.5"
                transform="rotate(90 27.5 0.899414)"
                stroke="white"
                stroke-opacity="0.2"
              />
              <path
                d="M19 12.3994L14.125 18.3994L9.25 12.3994"
                stroke="white"
              />
            </svg>
          </div>
        </button>
        <div class="selector-content">
          <div class="selector-list">
            <label class="custom-img-radio radio-item">
              <a href="#">
                <input type="radio" name="cereal" checked />
                <div class="bg"></div>
                <img src="@img/price/cereal/1.jpg" alt="cereal" />
                <p>Пшеница</p>
              </a>
            </label>
            <label class="custom-img-radio radio-item">
              <a href="#">
                <input type="radio" name="cereal" checked />
                <div class="bg"></div>
                <img src="@img/price/cereal/2.jpg" alt="cereal" />
                <p>Горох</p>
              </a>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-row">
      <div class="filter-row-wrapper">
        <p class="title">НДС</p>
        <div
          class="selector filter-selector custom-radio-selector nds-selector"
        >
          <button type="button" class="selector-btn">
            <div class="selector-title custom-radio">
              <div class="text-content">
                <input type="radio" name="nds" checked />
                <div class="bg"></div>
                <p>оба варианта</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="custom-radio">
                <input type="radio" name="nds" value="all" checked />
                <div class="bg"></div>
                <p>оба варианта</p>
              </label>
              <label class="custom-radio">
                <input type="radio" name="nds" value="nds" />
                <div class="bg"></div>
                <p>с ндс</p>
              </label>
              <label class="custom-radio">
                <input type="radio" name="nds" value="no-nds" />
                <div class="bg"></div>
                <p>без ндс</p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-row">
      <div class="filter-row-wrapper">
        <p class="title">Базис</p>
        <div
          class="selector filter-selector custom-checkbox-selector bazis-selector"
        >
          <button type="button" class="selector-btn">
            <div class="selector-title custom-radio">
              <div class="text-content">
                <p>все</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="custom-radio bazis bazis-radio">
                <input type="radio" name="bazis" checked value="all" />
                <div class="bg"></div>
                <p>все</p>
              </label>
              <label class="custom-checkbox bazis bazis-check">
                <input type="checkbox" name="bazis" value="0" />
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 3.50819L5.52632 7L11 1" stroke="#6E6E6E" />
                </svg>
                <div class="bg"></div>
                <p>азов</p>
              </label>
              <label class="custom-checkbox bazis bazis-check">
                <input type="checkbox" name="bazis" value="1" />
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 3.50819L5.52632 7L11 1" stroke="#6E6E6E" />
                </svg>
                <div class="bg"></div>
                <p>ейск</p>
              </label>
              <label class="custom-checkbox bazis bazis-check">
                <input type="checkbox" name="bazis" value="2" />
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 3.50819L5.52632 7L11 1" stroke="#6E6E6E" />
                </svg>
                <div class="bg"></div>
                <p>ростов</p>
              </label>
              <label class="custom-checkbox bazis bazis-check">
                <input type="checkbox" name="bazis" value="3" />
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 3.50819L5.52632 7L11 1" stroke="#6E6E6E" />
                </svg>
                <div class="bg"></div>
                <p>базис 4</p>
              </label>
            </div>
            <button class="btn success-checkbox-selector">применить</button>
          </div>
        </div>
      </div>
    </div>
    <button class="clear-btn clear-price-filters">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.5"
          y="0.5"
          width="19"
          height="19"
          rx="9.5"
          stroke="#6E6E6E"
        />
        <path
          d="M14 6L10 10M10 10L6 6M10 10L14 14M10 10L6 14"
          stroke="#6E6E6E"
        />
      </svg>
      сбросить фильтр
    </button>
  </div>
  <div class="info">
    <div class="info-contacts">
      <h5>По вопросам поставки:</h5>
      <ul>
        <li>
          <img src="@img/phone.svg" alt="phone" />
          <a href="tel:+7 988 380 17 65">+7 988 380 17 65</a>
          доб. 501
        </li>
        <li>
          <img src="@img/email.svg" alt="email" />
          <a href="mailto:info@product.ru">info@product.ru</a>
        </li>
      </ul>
    </div>
    <div class="info-tag">
      <h5>добавить ярлык с ценами <br />на свой рабочий стол</h5>
      <div class="tag">
        <img src="@img/price/mackbook.png" alt="mackbook" />
        <button class="btn primary install-btn">добавить</button>
      </div>
    </div>
  </div>
</div>
