<div class="price-info container">
  <div class="info-contacts">
    <h5>По вопросам поставки:</h5>
    <ul>
      <li>
        <img src="@img/phone.svg" alt="phone" />
        <a href="tel:+7 988 380 17 65">+7 988 380 17 65</a>
        доб. 501
      </li>
      <li>
        <img src="@img/email.svg" alt="email" />
        <a href="mailto:info@product.ru">info@product.ru</a>
      </li>
    </ul>
  </div>
  <div class="info-tag">
    <img src="@img/price/iphone.png" alt="iphone" />

    <div class="tag">
      <h5>добавить ярлык с ценами на свой рабочий стол</h5>

      <button class="btn primary install-btn">добавить</button>
    </div>
  </div>
</div>
