<div class="application-competed-modal modal">
  <div class="application-competed-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <img src="@img/mail.svg" alt="mail" />
    <p class="title">Заявка №34356 <br />на поставку оформлена</p>
    <p class="descr">
      Наш специалист свяжется с вами в ближайшее время. <br />Статус заявки
      можно отслеживать в разделе Мои заявки
    </p>
    <button class="btn primary gray close-modal">перейти в мои заявки</button>
  </div>
</div>
