<div class="congratulations-modal modal active">
  <div class="congratulations-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <p class="title">Поздравляем! <br />Аккредитация успешно пройдена.</p>
    <p class="descr">Теперь необходимо подписать рамочный договор</p>
    <button class="btn secondary yellow close-modal">подписать договор</button>
  </div>
</div>
