<div class="contacts">
  <div class="contacts-top">
    <div class="contacts-info">
      <h3>офис в Краснодаре</h3>
      <div class="info">
        <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
        <a href="mialto:info@kzpgroup.ru">info@kzpgroup.ru</a>
      </div>
      <p class="address">
        350000, Россия, Краснодарский край, <br />г. Краснодар, ул. Карасунская,
        66
      </p>
    </div>
    <div class="map" data-center="45.02862907457783 38.96926749999988"></div>
  </div>
  <div class="contacts-bottom container">
    <div class="contact-item">
      <h4>Коммерческий отдел</h4>
      <div class="info">
        <div class="info-item">
          <a href="tel:+7 861 204 02 72">+7 861 204 02 72 доб. 501</a>
          <div class="socials">
            <a href="#" class="btn circle blue size-l">
              <img src="@img/tg.svg" alt="tg" />
            </a>
            <a href="#" class="btn circle green size-l">
              <img src="@img/wa.svg" alt="wa" />
            </a>
          </div>
        </div>
        <a href="mailto:kzptrade@kzpgroup.ru">kzptrade@kzpgroup.ru</a>
      </div>
    </div>
    <div class="contact-item">
      <h4>Договорной отдел</h4>
      <div class="info">
        <div class="info-item">
          <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72 доб. 605</a>
        </div>
        <a href="mailto:dogovor@kzpgroup.ru">dogovor@kzpgroup.ru</a>
      </div>
    </div>
  </div>
</div>
