<div class="edit-files-modal modal">
  <div class="edit-files-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <p class="title">редактировать</p>
    <p class="descr">
      Карточка партнера с образцами подписей лиц, имеющих право подписи
      и оттиском печати
    </p>
    <div class="files">
      <div class="file-item">
        <div class="file-list">
          <div class="file">
            <img src="img/doc.svg" alt="doc" />
            <p>Заголовок документа.doc</p>
          </div>
        </div>
        <button class="delete-btn">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
      <div class="file-item">
        <div class="file-list">
          <div class="file">
            <img src="img/doc.svg" alt="doc" />
            <p>Заголовок документа.doc</p>
          </div>
        </div>
        <button class="delete-btn">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
      <div class="file-item">
        <div class="file-list">
          <div class="file">
            <img src="img/doc.svg" alt="doc" />
            <p>Заголовок документа.doc</p>
          </div>
        </div>
        <button class="delete-btn">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
    </div>
    <div class="btns">
      <button class="btn secondary gray add-btn">
        <svg
          width="13"
          height="14"
          viewBox="0 0 13 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.5 13L6.5 1M12.5 7.00084L0.5 7.00084"
            stroke="#FF6600"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        добавить
      </button>
      <button
        class="btn secondary yellow close-modal"
        data-modal-target="edit-files-send-modal"
      >
        сохранить
      </button>
    </div>
  </div>
</div>
