<div class="edit-files-send-modal modal">
  <div class="edit-files-send-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <img src="@img/mail.svg" alt="mail" />
    <p class="title">Ваша заявка отправлена на проверку</p>
    <p>
      О результате проверки мы уведомим вас по электронной почте и в Личном
      кабинете.
    </p>
    <p>Обычно проверка занимает 2–3 рабочих дня.</p>
    <button class="btn secondary yellow close-modal">хорошо</button>
  </div>
</div>
