<header class="header">
  <div class="logo-wrapper">
    <a href="home.html" class="logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <a href="price.html" class="price-btn">Закупочные цены</ф>
  </div>

  <nav>
    <a href="about.html">О нас</a>
    <!-- <div class="link-selector selector">
      <button class="link-selector-btn">
        <p class="selector-title">Поставщикам</p>
        <div class="icon">
          <svg
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.899902"
            y="0.5"
            width="19"
            height="19"
            rx="9.5"
            stroke="#3E3E3E"
            stroke-opacity="0.15"
            fill="rgba(255,255,255,0)"
          />
          <path
            d="M14.3999 8L10.3999 12L6.3999 8"
            stroke="#2C2C2C"
            fill="rgba(255,255,255,0)"
          />
        </svg>
        </div>
      </button>

      <div class="selector-content">
        <a href="documents.html">Поставщикам</a>
        <a href="documents.html">Документы для аккредитации</a>
      </div>
    </div> -->
    <a href="documents.html">Поставщикам</a>
    <a href="news.html">Новости</a>
    <a href="applicant.html">Соискателям</a>
    <a href="services.html">Стивидорные услуги</a>
    <a href="contacts.html">Контакты</a>
  </nav>
  <button class="burger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
