<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/png" href="files/favicon.png" />
  <link rel="icon" type="image/x-icon" href="files/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="files/favicon.ico" />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="files/favicon-96x96.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="files/apple-touch-icon.png"
  />
  <title>@@title</title>
  <link rel="manifest" href="files/manifest.json" />
</head>
