<div class="mail-send-modal modal">
  <div class="mail-send-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <img src="@img/mail.svg" alt="mail" />
    <p class="title">письмо отправлено</p>
    <p class="descr">
      На m.keyder@gmail.com выслано письмо с инструкцией по восстановлению
      пароля
    </p>
    <p class="timer">Через <span>00:58</span> сек</p>
    <button class="btn secondary yellow" disabled>
      выслать письмо повторно
    </button>
  </div>
</div>
