<div class="menu">
  <button class="close-btn">
    <svg
      width="24"
      height="16"
      viewBox="0 0 24 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4529_6966)">
        <path d="M1 15L23 1" stroke="white" stroke-width="2" />
        <path d="M23 15L1 1" stroke="white" stroke-width="2" />
      </g>
      <defs>
        <clipPath id="clip0_4529_6966">
          <rect width="24" height="16" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </button>
  <div class="menu-content">
    <div class="menu-logo">
      <a href="home.html" class="logo">
        <img src="@img/logo.svg" alt="logo" class="logo-default" />
      </a>
    </div>
    <nav class="menu-nav accordion">
      <a href="about.html">О нас</a>
      <div class="accordion-item link-acc">
        <button class="accordion-title">
          <p>Поставщикам</p>
          <div class="icon-wrapper">
            <svg
              width="21"
              height="20"
              viewBox="0 0 21 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.899902"
                y="0.5"
                width="19"
                height="19"
                rx="9.5"
                stroke="#3E3E3E"
                stroke-opacity="0.15"
              />
              <path d="M14.3999 8L10.3999 12L6.3999 8" stroke="#2C2C2C" />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <a href="documents.html">Документы для аккредитации</a>
        </div>
      </div>
      <a href="news.html">Новости</a>
      <a href="applicant.html">Соискателям</a>
      <a href="services.html">Стивидорные услуги</a>
      <a href="contacts.html">Контакты</a>
      <a href="price.html">закупочные цены</a>
    </nav>
    <div class="menu-contacts">
      <p class="title">офис в Краснодаре</p>
      <div class="row">
        <a href="tel:+7 (861) 204-02-72">+7 (861) 204-02-72</a>
        <div class="socials">
          <a href="#" class="btn circle blue">
            <img src="@img/tg.svg" alt="tg" />
          </a>
          <a href="#" class="btn circle green">
            <img src="@img/wa.svg" alt="wa" />
          </a>
        </div>
      </div>
      <a href="mailto:info@kzpgroup.ru">info@kzpgroup.ru</a>
      <p class="address">
        350000, Россия, Краснодарский край, г. Краснодар, ул. Карасунская, 66
      </p>
    </div>
  </div>
</div>
