<div class="pwa-ios-modal pwa-modal modal">
  <div class="pwa-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <h4>
      Ваше устройство не поддерживает автоматическую установку. Чтобы добавить
      сайт на главный экран, воспользуйтесь инструкцией снизу
    </h4>
    <div class="content">
      <p>1. Откройте сайт в Safari и нажмите кнопку «Поделиться».</p>
      <div class="image-wrapper">
        <img src="@img/pwa/ios1.jpg" alt="guide" />
      </div>
      <p>2. Нажмите на иконку «На экран "Домой"».</p>
      <div class="image-wrapper">
        <img src="@img/pwa/ios2.jpg" alt="guide" />
      </div>
      <p>
        3. При желании назовите PWA, чтобы оно отличалось от нативного
        приложения на главном экране и в поиске.
      </p>
      <p>4. Нажмите «Добавить» в правом верхнем углу.</p>
      <div class="image-wrapper">
        <img src="@img/pwa/ios3.jpg" alt="guide" />
      </div>
    </div>
  </div>
</div>
