<div class="pwa-macos-modal pwa-modal modal">
  <div class="pwa-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <h4>
      Ваше устройство не поддерживает автоматическую установку. Чтобы добавить
      сайт на главный экран, воспользуйтесь инструкцией снизу
    </h4>
    <div class="content">
      <p>1. Нажмите кнопку “Поделиться” в правом верхнем углу браузера</p>
      <p>2. Во всплывающем меню коснитесь строки “Добавить в Dock”</p>
      <div class="image-wrapper">
        <img src="@img/pwa/macos1.jpg" alt="guide" />
      </div>
      <p>
        3. При желании измените название веб-приложения или оставьте то, которое
        будет предложено по умолчанию
      </p>
      <p>4. Нажмите кнопку “Добавить”.</p>
      <div class="image-wrapper">
        <img src="@img/pwa/macos2.jpg" alt="guide" />
      </div>
      <div class="image-wrapper">
        <img src="@img/pwa/macos3.jpg" alt="guide" />
      </div>
    </div>
  </div>
</div>
