<div class="pwa-yandex-modal pwa-modal modal">
  <div class="pwa-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 23L23 1M23 23L1 1" stroke="#6E6E6E" />
      </svg>
    </button>
    <h4>Как установить ярлык сайта на ваш рабочий стол</h4>
    <div class="content">
      <h5>Добавить значок сайта</h5>
      <ul>
        <li>
          1. На любой вкладке нажмите
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
          > Добавить ярлык.
        </li>
        <li>2. В появившемся окне нажмите Добавить.</li>
      </ul>
    </div>
  </div>
</div>
