<div class="success-modal modal">
  <div class="success-modal-content modal-content">
    <button class="close-modal close-btn">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.663769 14.8122C5.50665 10.2238 15.3362 1.2004 15.3362 1.2004M1.01661 0.838858C5.72219 5.56796 14.9835 15.1737 14.9835 15.1737"
          stroke="#342E2E"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <img src="@img/latter.svg" alt="latter" />
    <h4>ваша заявка <br />успешно отправлена!</h4>
    <p>Наш специалист свяжется с Вами в ближайшее время.</p>
  </div>
</div>
