<div class="services-about text-about container">
  <div class="text-about-item text-right">
    <div class="text-block">
      <span>Стивидорные услуги Ейского морского порта</span>
      <div class="text-wrapper">
        <p class="title size-sm">
          Стивидорные услуги включают в себя весь комплекс работ, сопровождающих
          перевалку грузов на территории порта, а также контроль качества
          выполняемых операций.
        </p>
        <div class="text">
          <p class="descr">
            Мощности входящего в ГК стивидорного актива ООО Ейск-Порт-Виста
            позволяют переваливать в год более миллиона тонн экспортно-импортных
            грузов, включая зерновые, продукты их переработки, растительные
            масла, растительные масла, патока, удобрения и химически наливные.
          </p>
          <p class="descr">
            В порту оказываются услуги по бункеровке судов топливом. Во время
            грузовых операций суда, обрабатываемые портом, получают необходимое
            снабжение и ремонт.
          </p>
          <p class="descr">
            На территории функционируют подразделения органов таможенного,
            пограничного, санитарного и карантинного контроля.
          </p>
        </div>
      </div>
    </div>
    <div class="image-block">
      <img src="@img/services/about.jpg" alt="about" class="image" />
      <img src="img/shapes-reverse.svg" alt="shapes" class="shapes shapes-reverse">
    </div>
  </div>
  <div class="text-about-item text-left">
    <div class="text-block">
      <span>заголовок доп блока зеркальногоо</span>
      <div class="text-wrapper">
        <p class="title size-sm">
          Стивидорные услуги включают в себя весь комплекс работ, сопровождающих
          перевалку грузов на территории порта, а также контроль качества
          выполняемых операций.
        </p>
        <div class="text">
          <p class="descr">
            Мощности входящего в ГК стивидорного актива ООО Ейск-Порт-Виста
            позволяют переваливать в год более миллиона тонн экспортно-импортных
            грузов, включая зерновые, продукты их переработки, растительные
            масла, растительные масла, патока, удобрения и химически наливные.
          </p>
          <p class="descr">
            В порту оказываются услуги по бункеровке судов топливом. Во время
            грузовых операций суда, обрабатываемые портом, получают необходимое
            снабжение и ремонт.
          </p>
          <p class="descr">
            На территории функционируют подразделения органов таможенного,
            пограничного, санитарного и карантинного контроля.
          </p>
        </div>
      </div>
    </div>
    <div class="image-block">
      <img src="@img/services/about.jpg" alt="about" class="image" />
      <img src="img/shapes.svg" alt="shapes" class="shapes">
    </div>
  </div>
</div>
