<div class="services-hero container">
  <div class="services-hero-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="services.html"> стивидорные услугир </a>
    </div>
    <h1>стивидорные услуги</h1>
  </div>
  <div class="services-hero-content">
    <div class="text-block">
      <p class="text">
        ГК КЗП осуществляет стивидорную деятельность в акватории Ейского
        морского порта, который связывает внутренние водные пути России через
        Азовское море с Черным и Средиземным морями.
      </p>
      <div class="services-hero-contacts">
        <div class="contacts-item">
          <div class="title">Ейск-Порт-Виста</div>
          <div class="contacts-item-list">
            <a href="tel:+7 (86132) 5-09-00"
              ><img src="@img/phone.svg" alt="phone" />+7 (86132) 5-09-00
            </a>
            <a href="mailto:mail@vistaport.ru"
              ><img src="@img/email.svg" alt="email" />mail@vistaport.ru
            </a>
          </div>
        </div>
        <div class="contacts-item">
          <div class="title">Азовский Морской Терминал</div>
          <div class="contacts-item-list">
            <a href="tel:+7 (86132) 5-09-00"
              ><img src="@img/phone.svg" alt="phone" />+7 (86132) 5-09-00
            </a>
            <a href="mailto:mail@vistaport.ru"
              ><img src="@img/email.svg" alt="email" />mail@vistaport.ru
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="map-block">
      <div
        class="map"
        data-center="46.490336356046654 37.88003519942826"
        data-zoom="7"
        data-placeholder="false"
        data-pins="47.112524 39.423539, 46.711972 38.272600 "
      ></div>
    </div>
  </div>
</div>
