<div class="news-content container">
  <div class="news-content-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="news.html"> Пресс-центр </a>
    </div>
    <h1>пресс-центр</h1>
  </div>
  <div class="news-list">
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/1.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">
          специализируемся на работе с такими продуктами, как пшеница, ячмень,
          кукуруза, лен, кукуруза, нут, горох и другие.
        </p>
      </div>
    </a>
    <a href="#" class="news-item">
      <div class="image-wrapper">
        <img src="@img/home/news/2.jpg" alt="news" />
      </div>
      <div class="text">
        <span class="date">05 декабря 2024</span>
        <p class="title">Честное сотрудничество и высокие стандарты.</p>
      </div>
    </a>
  </div>
  <div class="news-pagination">
    <button class="btn circle accent home-news-prev">
      <svg
        width="8"
        height="12"
        viewBox="0 0 8 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7 1L1 5.875L7 10.75" stroke="#6E6E6E" />
      </svg>
    </button>
    <div class="steps">
      <button class="step active">1</button>
      <button class="step">2</button>
      <button class="step">3</button>
      <div class="dots">...</div>
      <button class="step">18</button>
    </div>
    <button class="btn circle accent home-news-next">
      <svg
        width="8"
        height="12"
        viewBox="0 0 8 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L7 5.875L1 10.75" stroke="#6E6E6E" />
      </svg>
    </button>
  </div>
</div>
