.account-applications {
  .account-content {
    .tabs {
      margin-top: 36px;
      .tab {
        padding: 17px 28px;
        border-radius: 999px;
        background: var(--gray-color);
        text-transform: uppercase;
        @include descr-m;
        transition: var(--trs-300);
        &.active {
          background: var(--accent-2-color);
          color: var(--white-color);
        }
      }
    }
    .filters {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-bottom: 28px;
      @media (max-width: $tab) {
        grid-template-columns: 1fr;
        gap: 12px;
        margin-bottom: 20px;
      }
      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: $tab) {
          display: grid;
          grid-template-columns: 88px 1fr;
          gap: 10px;
          align-items: center;
        }
        .hint {
          text-transform: uppercase;
          @include descr-s;
          color: var(--gray-2-color);
        }
        .input-container {
          position: relative;
          img {
            position: absolute;
            top: 8px;
            right: 12px;
            bottom: 8px;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    .tab-content {
      margin-top: 28px;
    }
    .applications-list {
      display: flex;
      flex-direction: column;
      gap: 36px;
      .application-item {
        align-items: flex-start;
        display: grid;
        grid-template-columns: 317px 1fr;
        gap: 26px;
        padding-top: 36px;
        border-top: 1px solid var(--line-color);
        @media (max-width: $tab) {
          grid-template-columns: 1fr;
          padding-top: 28px;
        }
        .title-wrapper {
          display: flex;
          gap: 33px;
          @media (max-width: $tab) {
            flex-direction: row-reverse;
            justify-content: space-between;
          }
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
          }
          .title-wrapper-content {
            .title {
              @include h3;
              text-transform: uppercase;
            }
            .date {
              margin-top: 6px;
              @include body-s;
              color: var(--gray-2-color);
              text-transform: none;
            }
            .status {
              padding: 10px 16px;
              border-radius: 999px;
              @include descr-s;
              text-align: center;
              color: var(--white-color);
              width: fit-content;
              margin-top: 16px;
              text-transform: uppercase;
              &.green {
                background: var(--green-color);
              }
              &.gray {
                background: var(--gray-2-color);
              }
              &.red {
                background: var(--red-color);
              }
            }
          }
        }
        .specifications {
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4px;
            li {
              display: grid;
              grid-template-columns: 156px 1fr;
              gap: 20px;
              @media (max-width: $tab-sm) {
                grid-template-columns: 116px 1fr;
              }
              .label {
                font-weight: 500;
                font-size: 16px;
                line-height: 128%;
                color: var(--gray-2-color);
                text-transform: none;
              }
              .value {
                font-weight: 500;
                font-size: 16px;
                line-height: 128%;
                text-transform: none;
              }
            }
          }
          .specification-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 19px;
            row-gap: 24px;
            margin-top: 24px;
            @media (max-width: $tab-sm) {
              grid-template-columns: 1fr;
              margin-top: 16px;
              row-gap: 4px;
            }
            &.hidden {
              display: none;
            }
            .specification-item {
              background: var(--gray-3-color);
              padding: 20px;
              ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 4px;
                li {
                  display: grid;
                  grid-template-columns: 156px 1fr;
                  gap: 20px;
                  @media (max-width: $tab-sm) {
                    grid-template-columns: 196px 1fr;
                  }
                  .label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 128%;
                    color: var(--gray-2-color);
                    text-transform: none;
                  }
                  .value {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 128%;
                    text-transform: none;
                  }
                }
              }
              .price {
                margin-top: 20px;
                @include descr-m;
                text-transform: uppercase;
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            gap: 12px;
            text-transform: uppercase;
            @include descr-m;
            margin-top: 24px;
            transition: var(--trs-300);
            &.active {
              svg {
                transform: rotate(180deg);
              }
            }
            &:hover {
              color: var(--accent-2-color);
              svg {
                rect {
                  fill: var(--accent-2-color);
                }
              }
            }
            svg {
              width: 28px;
              height: 28px;
              transition: var(--trs-300);
            }
          }
        }
      }
    }
  }
}
