<div class="vacancy-content container">
  <div class="vacancy-content-inner">
    <div class="text-block">
      <div class="vacancy-info">
        <div class="top">
          <p class="price">30 000 руб. на руки</p>
          <div class="badge">опыт от 3-х лет</div>
          <div class="badge">таганрог</div>
          <div class="badge">производство</div>
        </div>
        <p class="descr">
          Поиск, оценка и заключение договоров с поставщиками. Обеспечение
          качественного сырья по выгодным ценам. Требуются аналитические навыки
          и умение вести переговоры.
        </p>
        <ul class="specification">
          <li>
            <span>Опыт</span>
            <p>Более 6 лет</p>
          </li>
          <li>
            <span>Занятость</span>
            <p>Полная</p>
          </li>
          <li>
            <span>График</span>
            <p>5/2</p>
          </li>
          <li>
            <span>Рабочие часы</span>
            <p>8</p>
          </li>
          <li>
            <span>Формат работы</span>
            <p>На месте работодателя</p>
          </li>
        </ul>
      </div>
      <div class="vacancy-info">
        <h3>Обязанности</h3>
        <ul class="list">
          <li>
            Определение стратегии всего департамента, ее обновление и защита
          </li>
          <li>Эффективная загрузка производственных мощностей</li>
          <li>
            Эффективное управление МИКС (разделка полутушей) и повышение его
            эффективности
          </li>
          <li>Развитие экспортного потенциала</li>
          <li>
            эффективное управление клиентской базой - расширение, формирование
            эффективного баланса в каналах B2B, B2C, их правильное распределение
          </li>
          <li>
            Повышение эффективности дирекции по логистике в части склада,
            транспорта, автоматизации
          </li>
          <li>
            Организация эффективного взаимодействия продаж, логистики и службы
            качества
          </li>
        </ul>
      </div>
      <div class="vacancy-info">
        <h3>Требования</h3>
        <ul class="list">
          <li>
            Приоритетен опыт работы на мясоперерабатывающем
            производствеПриоритетен опыт работы на мясоперерабатывающем
            производстве
          </li>
          <li>
            Опыт работы в коммерческом департаменте, опыт организации работы
            коммерческой службы.
          </li>
          <li>Знание основ маркетинга</li>
          <li>Опыт работы с ценообразованием, знание основ.</li>
          <li>Аналитические навыки.</li>
          <li>Опыт защиты стратегии и презентации проектов</li>
          <li>
            Опыт реализации проектов в МПП (строительство цехов, запуск площадок
            и тд)
          </li>
        </ul>
      </div>
      <div class="vacancy-info">
        <h3>Условия</h3>
        <ul class="list">
          <li>Работа в современном офисе в г. Тамбов</li>
          <li>Официальное оформление по ТК РФ</li>
          <li>
            Возможность роста и развития в одном из крупнейших агропромышленных
            комплексов России
          </li>
          <li>Достойный уровень заработной платы</li>
          <li>ДМС и компенсация мобильной связи</li>
          <li>Помощь и поддержка в вашем развитии;</li>
          <li>Профессиональное обучение и развитие в компании.</li>
        </ul>
      </div>
    </div>
    <div class="form-block">
      <div class="sticky-block">
        <form class="form">
          <h3>отправить резюме</h3>
          <div class="inputs">
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-name"
                placeholder="Ваше имя *"
              />
              <small class="input__item-small"></small>
            </div>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-phone"
                placeholder="+7 ( *"
              />
              <small class="input__item-small"></small>
            </div>
            <input type="text" placeholder="E-mail" />
            <textarea placeholder="Сопроводительное письмо"></textarea>
            <div class="files">
              <div class="file-input-wrapper">
                <div class="upload-file-wrapper">
                  <button class="btn primary file-btn" type="button">
                    Прикрепить файл с резюме
                    <input
                      type="file"
                      id="pdfInput"
                      accept=".doc,.docx,.rtf,.pdf"
                    />
                  </button>
                  <p>(doc, docx, rtf, pdf до 10 Mb)</p>
                </div>

                <div class="output-file-wrapper hidden">
                  <button class="clear-file" type="button">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.666992 15.3333L15.3337 0.666626M15.3337 15.3333L0.666992 0.666626"
                        stroke="#6E6E6E"
                      />
                    </svg>
                  </button>
                  <p id="output"></p>
                </div>
              </div>

              <input type="text" placeholder="Или ссылка на ваше резюме" />
            </div>
          </div>
          <div class="form-bottom">
            <label class="checkbox-warpper">
              <input type="checkbox" />
              <p>
                Предоставляю согласие на хранение и
                <a href="#" target="_blank">обработку Персональных данных</a>
              </p>
            </label>
            <button class="btn secondary yellow" type="submit">
              отправить резюме
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="vacancy-info-map">
    <h3>Где предстоит работать</h3>
    <p class="address">Краснодар, Деловая улица, 20</p>
    <div class="map-wrapper">
      <div class="map" data-center="45.02862907457783 38.96926749999988"></div>
    </div>
  </div>
</div>
