<div class="register-gartitude-content container">
  <div class="register-gartitude-content-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Регистрация </a>
    </div>
    <h1>спасибо за регистрацию</h1>
  </div>
  <div class="register-gartitude-main-content">
    <div class="text-block">
      <p>
        На вашу электронную почту отправлено письмо для подтверждения
        регистрации. Пожалуйста, перейдите по ссылке в письме, чтобы
        активировать аккаунт
      </p>
      <a href="home.html" class="btn primary gray"> на главную</a>
    </div>
    <div class="have-account-block">
      <div class="image-wrapper">
        <img src="@img/register/img.jpg" alt="login" />
        <img src="@img/register/shape.svg" alt="shape" class="shape" />
      </div>
      <div class="have-account-login">
        <img src="@img/register/pc.svg" alt="pc" />
        <div class="login-container">
          <p>Войдите, если у вас уже есть аккаунт</p>
          <a href="#" class="btn secondary yellow">войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
