<div class="applicant-history">
  <div class="applicant-history-inner container">
    <h3>Истории наших сотрудников</h3>
    <div class="applicant-history-swiper-wrapper">
      <div class="applicant-history-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img src="@img/applicant/history/1.jpg" alt="history" />
            </div>
            <div class="text-block">
              <div class="text">
                <span>Техник-электрик</span>
                <h4>Петров Александр Матвеевич</h4>
                <p>
                  Вместе с коллегами мы прошли через сложные этапы модернизации
                  и запуска нового оборудования. Горжусь что удалось
                  поучаствов..
                </p>
              </div>
              <a href="#" class="btn primary yellow">читать историю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img src="@img/applicant/history/2.jpg" alt="history" />
            </div>
            <div class="text-block">
              <div class="text">
                <span>Техник-электрик</span>
                <h4>Петров Александр Матвеевич</h4>
                <p>
                  Вместе с коллегами мы прошли через сложные этапы модернизации
                  и запуска нового оборудования. Горжусь что удалось
                  поучаствов..
                </p>
              </div>
              <a href="#" class="btn primary yellow">читать историю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img src="@img/applicant/history/1.jpg" alt="history" />
            </div>
            <div class="text-block">
              <div class="text">
                <span>Техник-электрик</span>
                <h4>Петров Александр Матвеевич</h4>
                <p>
                  Вместе с коллегами мы прошли через сложные этапы модернизации
                  и запуска нового оборудования. Горжусь что удалось
                  поучаствов..
                </p>
              </div>
              <a href="#" class="btn primary yellow">читать историю</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img src="@img/applicant/history/2.jpg" alt="history" />
            </div>
            <div class="text-block">
              <div class="text">
                <span>Техник-электрик</span>
                <h4>Петров Александр Матвеевич</h4>
                <p>
                  Вместе с коллегами мы прошли через сложные этапы модернизации
                  и запуска нового оборудования. Горжусь что удалось
                  поучаствов..
                </p>
              </div>
              <a href="#" class="btn primary yellow">читать историю</a>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <button class="btn circle accent applicant-history-prev">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M7 1L1 5.875L7 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
        <button class="btn circle accent applicant-history-next">
          <svg
            width="8"
            height="12"
            viewBox="0 0 8 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L7 5.875L1 10.75" stroke="#6E6E6E" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
