<div class="applicant-about text-about container">
  <div class="text-about-item text-left">
    <div class="text-block">
      <span>Социальные гарантии</span>
      <div class="text-wrapper">
        <p class="title size-sm">
          Работа в КЗП – это не только профессиональное развитие, но и надежная
          поддержка. Мы заботимся о каждом сотруднике, предоставляя:
        </p>
        <div class="advantages-wrapper">
          <div class="advantages">
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage1.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">оплачиваемые отпуска и больничные</div>
                <p class="descr">
                  Оплачиваемые отпуска и больничные: в соответствии с
                  законодательством.
                </p>
              </div>
            </div>
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage2.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">
                  Обучение <br />
                  и развитие
                </div>
                <p class="descr">
                  Тренинги, семинары и повышение квалификации за счет компании.
                </p>
              </div>
            </div>
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage3.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">Медицинская поддержка</div>
                <p class="descr">
                  Программы ДМС или доступ к корпоративным медицинским услугам.
                </p>
              </div>
            </div>
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage4.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">
                  Компенсации <br />
                  и льготы
                </div>
                <p class="descr">
                  Оплата транспортных расходов, обеспечение спецодеждой и другие
                  дополнительные привилегии.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image-block">
      <img src="@img/applicant/about/1.jpg" alt="about" class="image" />
      <img src="@img/shapes.svg" alt="shapes" class="shapes" />
    </div>
  </div>
  <div class="text-about-item text-right">
    <div class="text-block">
      <span>Дополнительные бонусы и преимущества</span>
      <div class="text-wrapper">
        <p class="title size-sm">
          Мы ценим наших сотрудников и предлагаем конкурентоспособную заработную
          плату, а также дополнительные бонусы и преимущества:
        </p>
        <div class="advantages-wrapper">
          <div class="advantages">
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage5.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">Премии за результативность</div>
                <p class="descr">Раскрывающий или поясняющий текст</p>
              </div>
            </div>
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage6.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">Заголовок</div>
                <p class="descr">Раскрывающий или поясняющий текст</p>
              </div>
            </div>
            <div class="advantage-item">
              <div class="image-wrapper">
                <img
                  src="@img/applicant/about/advantage7.svg"
                  alt="advantage"
                />
              </div>
              <div class="advantage-text-wrapper">
                <div class="title">Бонусы за лояльность</div>
                <p class="descr">Раскрывающий или поясняющий текст</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image-block">
      <img src="@img/applicant/about/2.jpg" alt="about" class="image" />
      <img
        src="@img/shapes-reverse.svg"
        alt="shapes"
        class="shapes shapes-reverse"
      />
    </div>
  </div>
</div>
