<div class="applicant-alert">
  <div class="applicant-alert-inner container">
    <h3>Не нашли подходящую вакансию?</h3>
    <div class="applicant-alert-content">
      <div class="applicant-alert-item">
        <div class="text-wrapper">
          <div class="text">
            <p class="title">Отправьте нам <br />свое резюме</p>
            <p class="descr">
              Не забудьте указать интересующую вас должность и почему вы хотите
              попасть к нам в команду.
            </p>
          </div>
          <button class="btn primary resume-btn">отправить резюме</button>
        </div>
        <div class="image-wrapper">
          <img src="@img/applicant/alert/ipad.png" alt="" />
        </div>
      </div>
      <div class="applicant-alert-item">
        <div class="text-wrapper">
          <div class="text">
            <p class="title">Или свяжитесь со службой управления персоналом</p>
            <div class="applicant-alert-contacts">
              <a href="tel:+7 (861) 204-02-72 (452)">
                +7 (861) 204-02-72 (452)
              </a>
              <a href="mailto:hr_announcement@kzpgroup.ru.">
                hr_announcement@kzpgroup.ru.
              </a>
            </div>
          </div>
          <button class="btn primary yellow call-btn">заказать звонок</button>
        </div>
        <div class="image-wrapper">
          <img src="@img/applicant/alert/iphone.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
