<div class="applicant-advantages advantage-list container">
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/applicant/advantages/1.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">Релокационный пакет для иногородних</div>
      <p class="descr">Раскрывающий или поясняющий текст</p>
    </div>
  </div>
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/applicant/advantages/2.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">Официальный стабильный доход</div>
      <p class="descr">Раскрывающий или поясняющий текст</p>
    </div>
  </div>
  <div class="advantage-item">
    <div class="image-wrapper">
      <img src="@img/applicant/advantages/3.svg" alt="advantage" />
    </div>
    <div class="text-wrapper">
      <div class="title">Карьерный рост</div>
      <p class="descr">Раскрывающий или поясняющий текст</p>
    </div>
  </div>
</div>
