<div class="applicant-info container">
  <div class="applicant-info-item">
    <div class="text-wrapper">
      <h4>Культура компании</h4>
      <div class="text">
        <p>Наши сотрудники — залог нашего успеха!</p>
        <p>
          За годы работы мы создали возможности для развития профессионалов,
          которые становятся лидерами в своих направлениях. Мы поддерживаем
          обучение сотрудников, помогая им осваивать новые навыки и
          совершенствовать свои компетенции.
        </p>
        <p>
          В КЗП мы ценим не только профессионализм, но и личностные качества.
          Ответственность и стремление к результатам, которые укрепляют команду
          и компанию, являются нашими ключевыми ценностями.
        </p>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="@img/applicant/info/1.jpg" alt="info" />
    </div>
  </div>
  <div class="applicant-info-item">
    <div class="text-wrapper">
      <h4>Заголовок</h4>
      <div class="text">
        <p>
          *сформулировать. наша компания постоянно развивается и вместе с
          компанией развиваются и профессионально растут и наши сотрудники
          (осваивают новые направления деятельности, растут объемы задач и
          операций, расширяется география деятельности и т.д.).
        </p>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="@img/applicant/info/2.jpg" alt="info" />
    </div>
  </div>
</div>
