<div class="applicant-vacancy container">
  <div class="applicant-vacancy-content">
    <h3>Вакансии</h3>
    <div class="vacancy-filters">
      <div class="selector-wrapper">
        <p class="title">Город</p>
        <div class="selector">
          <button type="button" class="selector-btn">
            <div class="selector-title">
              <div class="text-content">
                <input type="radio" name="city" />
                <p>Краснодар</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="radio-item">
                <input type="radio" name="city" />
                <p>Краснодар</p>
              </label>
              <label class="radio-item">
                <input type="radio" name="city" />
                <p>Ейск</p>
              </label>
              <label class="radio-item">
                <input type="radio" name="city" />
                <p>Азов</p>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="selector-wrapper">
        <p class="title">направление</p>
        <div class="selector">
          <button type="button" class="selector-btn">
            <div class="selector-title">
              <div class="text-content">
                <input type="radio" name="direction" />
                <p>Производство и контроль качества</p>
              </div>
            </div>
            <div class="icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="27.5"
                  y="0.5"
                  width="27"
                  height="27"
                  rx="13.5"
                  transform="rotate(90 27.5 0.5)"
                  stroke="#3E3E3E"
                  stroke-opacity="0.15"
                />
                <path d="M19 12L14.125 18L9.25 12" stroke="#2C2C2C" />
              </svg>
            </div>
          </button>
          <div class="selector-content">
            <div class="selector-list">
              <label class="radio-item">
                <input type="radio" name="direction" />
                <p>Производство и контроль качества</p>
              </label>
              <label class="radio-item">
                <input type="radio" name="direction" />
                <p>Производство и контроль качества 2</p>
              </label>
              <label class="radio-item">
                <input type="radio" name="direction" />
                <p>Производство и контроль качества 3</p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vacancy-list">
      <div class="vacancy-item">
        <img src="@img/user.svg" alt="user" />
        <div class="vacancy-item-content">
          <h4>Менеджер по закупкам зерновых культур</h4>
          <div class="vacancy-info">
            <p class="price">30 000 руб. на руки</p>
            <div class="badge">опыт от 3-х лет</div>
            <div class="badge">краснодар</div>
          </div>
          <p class="desr">
            Поиск, оценка и заключение договоров с поставщиками. Обеспечение
            качественного сырья по выгодным ценам. Требуются аналитические
            навыки и умение вести переговоры.
          </p>
        </div>
        <div class="btn-wrapper">
          <a href="#" class="btn link">
            подробнее
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="28" height="28" rx="14" fill="#6E6E6E" />
              <path d="M12 9L18 13.875L12 18.75" stroke="white" />
            </svg>
          </a>
        </div>
      </div>
      <div class="vacancy-item">
        <img src="@img/user.svg" alt="user" />
        <div class="vacancy-item-content">
          <h4>Тракторист-машинист (механизатор, комбайнер)</h4>
          <div class="vacancy-info">
            <p class="price">30 000 руб. на руки</p>
            <div class="badge">опыт от 3-х лет</div>
            <div class="badge">краснодар</div>
          </div>
          <p class="desr">
            Поиск, оценка и заключение договоров с поставщиками. Обеспечение
            качественного сырья по выгодным ценам. Требуются аналитические
            навыки и умение вести переговоры.
          </p>
        </div>
        <div class="btn-wrapper">
          <a href="#" class="btn link">
            подробнее
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="28" height="28" rx="14" fill="#6E6E6E" />
              <path d="M12 9L18 13.875L12 18.75" stroke="white" />
            </svg>
          </a>
        </div>
      </div>
      <div class="vacancy-item">
        <img src="@img/user.svg" alt="user" />
        <div class="vacancy-item-content">
          <h4>Механик сельскохозяйственной техники</h4>
          <div class="vacancy-info">
            <p class="price">30 000 руб. на руки</p>
            <div class="badge">опыт от 3-х лет</div>
            <div class="badge">краснодар</div>
          </div>
          <p class="desr">
            Поиск, оценка и заключение договоров с поставщиками. Обеспечение
            качественного сырья по выгодным ценам. Требуются аналитические
            навыки и умение вести переговоры.
          </p>
        </div>
        <div class="btn-wrapper">
          <a href="#" class="btn link">
            подробнее
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="28" height="28" rx="14" fill="#6E6E6E" />
              <path d="M12 9L18 13.875L12 18.75" stroke="white" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btn primary">загрузить ещё 15</button>
    </div>
  </div>
  <div class="applicant-vacancy-alert">
    <div class="sticky-block">
      <div class="image-wrapper">
        <img src="@img/applicant/vacancy/mackbook.png" alt="mackbook" />
      </div>
      <p class="title">наши вакансии <br />на hh.ru</p>
      <a href="#" class="btn primary" target="_blank">смотреть</a>
    </div>
  </div>
</div>
