<div class="login-content container">
  <div class="login-content-top">
    <div class="breadcrumbs black">
      <a href="home.html">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 16V5.77712L8 1.08962L15.5 5.77712V16H0.5Z"
            stroke="white"
          />
        </svg>
      </a>
      <img src="@img/breadcrumbs-black-arrow.svg" alt="arrow" />
      <a href="contacts.html"> Регистрация </a>
    </div>
    <h1>войти в личный кабинет поставщика</h1>
  </div>
  <div class="login-main-content">
    <form class="form">
      <div class="inputs">
        <div class="input-wrapper">
          <p class="hint">Почта *</p>
          <div class="input__row">
            <input
              type="text"
              class="input form__input-value"
              placeholder="Введите"
            />
            <small class="input__item-small"></small>
          </div>
        </div>
        <div class="input-wrapper">
          <p class="hint">Пароль *</p>
          <div class="input-container">
            <div class="input__row">
              <input
                type="password"
                class="input form__input-value"
                placeholder="Введите"
              />
              <small class="input__item-small"></small>
            </div>
            <button
              class="recover-password-btn"
              data-modal-target="recover-password-modal"
              type="button"
            >
              Забыли пароль?
            </button>
          </div>
        </div>
      </div>
      <button class="btn secondary yellow" disabled>войти</button>
    </form>
    <div class="have-account-block">
      <div class="image-wrapper">
        <img src="@img/register/img.jpg" alt="login" />
        <img src="@img/register/shape.svg" alt="shape" class="shape" />
      </div>
      <div class="have-account-login">
        <img src="@img/register/pc.svg" alt="pc" />
        <div class="login-container">
          <p>нет личного кабинета?</p>
          <a href="#" class="btn secondary yellow">зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
</div>
