<div class="home-about container">
  <h3>о компании</h3>
  <div class="home-about-content">
    <div class="text-block">
      <div class="image-wrapper">
        <img src="@img/home/about/1.jpg" alt="about" />
      </div>
      <p class="descr">
        ООО "Краснодарзернопродукт" с 1995 года занимается закупкой и поставкой
        зерновых и масличных культур. Честное сотрудничество, высокие стандарты
        и долгосрочные партнерства — основа нашей работы.
      </p>
      <a href="#" class="btn link">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="28" height="28" rx="14" fill="#6E6E6E" />
          <path d="M12 9L18 13.875L12 18.75" stroke="white" />
        </svg>
        подробнее
      </a>
    </div>
    <div class="video-block">
      <img src="@img/home/about/1.jpg" alt="" class="video-block__pic">
      <!-- <video
        autoplay
        loop
        muted
        playsinline
        preload="auto"
        src="./files/hero.mp4"
      ></video> -->
      <img src="@img/shapes.svg" alt="shapes" />
    </div>
  </div>
  <div class="home-about-advantages advantage-list">
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/home/about/advantage1.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">Надежность</div>
        <p class="descr">Выполняем обязательства точно в срок</p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/home/about/advantage2.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">Быстрый расчет</div>
        <p class="descr">
          Своевременная оплата сразу после выполнения условий договора
        </p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/home/about/advantage3.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">Прозрачность</div>
        <p class="descr">Понятные условия и открытая коммуникация</p>
      </div>
    </div>
    <div class="advantage-item">
      <div class="image-wrapper">
        <img src="@img/home/about/advantage4.svg" alt="advantage" />
      </div>
      <div class="text-wrapper">
        <div class="title">Большой опыт</div>
        <p class="descr">Глубокое знание рынка и его особенностей</p>
      </div>
    </div>
  </div>
  <a href="#" class="btn link mob">
    <svg
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="28" height="28" rx="14" fill="#6E6E6E" />
      <path d="M12 9L18 13.875L12 18.75" stroke="white" />
    </svg>
    подробнее
  </a>
</div>
