<div class="home-catalog container">
  <h3>Каталог закупаемых культур</h3>
  <div class="home-catalog-list">
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/1.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>Пшеница</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/2.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>горох</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/3.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>кукуруза</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/4.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>нут</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/5.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>ячмень</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
    <a href="#" class="home-catalog-item">
      <div class="image-wrapper">
        <img src="@img/home/catalog/6.jpg" alt="catalog" />
      </div>
      <div class="text-content">
        <p>лен</p>
        <button class="btn primary">Смотреть</button>
      </div>
    </a>
  </div>
</div>
