<div class="home-alert">
  <div class="home-alert-inner container">
    <div class="alert-item">
      <p class="title">
        Являемся Членами союза экспортеров и производителей зерна
      </p>
      <div class="image-wrapper">
        <img src="@img/home/alert/1.jpg" alt="alert" />
      </div>
    </div>
    <div class="alert-item">
      <p class="title">Состоим <br />в ассоциации «радо»</p>
      <div class="image-wrapper">
        <img src="@img/home/alert/2.jpg" alt="alert" />
      </div>
    </div>
  </div>
</div>
