.account-settings {
  .account-content {
    .settings-list {
      display: flex;
      flex-direction: column;
      .form {
        display: grid;
        grid-template-columns: 318px 1fr;
        gap: 24px;
        padding-top: 48px;
        padding-bottom: 48px;
        border-top: 1px solid var(--line-color);
        border-bottom: 1px solid var(--line-color);
        @media (max-width: $tab) {
          padding-top: 28px;
          padding-bottom: 28px;
          grid-template-columns: 1fr;
          gap: 24px;
          border-top: none;
          border-bottom: none;
        }
        &:first-child {
          border-top: none;
          border-bottom: none;
        }
        &:last-child {
          border-bottom: none;
        }
        .title-block {
          .sticky-block {
            .title {
              display: flex;
              align-items: center;
              gap: 16px;
              text-transform: uppercase;
              @include descr-l;
              img {
                width: 24px;
                height: 24px;
              }
            }
            .title-info {
              display: flex;
              flex-direction: column;
              gap: 12px;
              margin-top: 20px;
              button {
                width: 16px;
                height: 16px;
              }
              img {
                width: 16px;
                height: 16px;
              }
              p {
                @include body-s;
              }
            }
          }
        }
        .form-handler {
          .inputs {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .input-wrapper {
              display: grid;
              grid-template-columns: 148px 1fr;
              gap: 20px;
              align-items: center;
              @media (max-width: $tab-sm) {
                grid-template-columns: 1fr;
                gap: 6px;
              }
              .hint {
                @include body-m;
                color: var(--gray-2-color);
              }
              .input-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                p {
                  @include body-s;
                  color: var(--gray-2-color);
                }
              }
            }
          }
          .btn {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
